.post {
    overflow: auto;
    background: #ddf9c0;
    margin: 15px;
    margin-left: 0;
    width: 450px;
    text-align: left;
    padding: 15px;
    display: block;
    align-content: center
}

.category {
    overflow: auto;
    background: #ddf9c0;
    margin: 15px;
    margin-left: 0;
    width: 400px;
    text-align: left;
    padding: 15px;
    display: block;
    align-content: center;
    text-decoration: underline;
    text-transform: uppercase;
}


.clear {
    clear: both;
}

.col {
    display: inline-block;
    vertical-align: top;
    min-height: 100px;
    padding: 10px;
}

.thumbnail img {
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

.rank {
    width: 30px;
    text-align: center;
    color: #999999;
    font-weight: bold;
}

.rank>span {
    position: relative;
    top: 1.5em;
}

.voting {
    width: 50px;
    text-align: center;
    color: #999999;
    font-weight: bold;
}

.thumbnail {
    width: 100px;
    text-align: center;
}

.title a {
    font-size: 1.25em;
    text-decoration: none;
}

.details {
    margin-top: 10px;
}

.info {
    color: #999999;
}

.controls {
    overflow: auto;
}

.controls .action {
    display: inline-block;
    text-decoration: none;
}

.controls .action a {
    margin-right: 10px;
    text-decoration: none;
}

.controls .action a:hover {
    color: #000000;
}

.arrow {
    font-size: 2em;
    line-height: 0.75em;
    cursor: pointer;
}

.arrow:hover {
    color: #000000;
}

.arrow.clicked {
    color: #ffffff;
}


h1{
    margin:20px;
}

.container {
    margin:20px;
    margin-left: 0;
    padding:20px;
    padding-bottom: 0;
}

.news{
    display:inline-block;
    border: solid black 1px;
    padding: 20px;
    margin:20px;
    margin-left:0;
}

img{
    width: 300px;
}

h2{
    font-size: 26px;

}

h3{
    margin-left:40px;
    width: 200px;
    font-size: 18px;
}

div{
    font-size: 14px;
}

.category{
    font-family: cursive;
    color: red
}